{% include 'doctype.html' %}
<head>
<title>MJohno</title>
{% include 'meta.html' %}
<meta name="description" content="Content from a Software Engineer specialising in DevOps, SRE and Cyber Security.">
<meta name="keywords" content="SRE Consultant, DevOps Consultant, Cyber Security Consultant, DevOps, Site Reliability, SRE, Cyber Security">
</head>
<body>
<h1>MJohno</h1>
<p><i>Software Engineering, DevOps, Site Reliability Engineering and Cyber Security content.</i></p>
{% include 'nav.html' %}
</body>
